@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
  font-family: 'Fontspring-DEMO-ncttorin-bold';
  src: url("../../fonts/Fontspring-DEMO-ncttorin-bold.otf");
}

.user-info-container {
  margin-top: 20px;
  width: 200px;
}

.user-info-change {
  display: flex;
  color: rgb(224, 223, 221);
}

.user-info-name {
  margin-top: 15px;
}

.grey {
  color: rgb(106, 110, 110);
  font-size: 10pt;
}

.white {
  color: rgb(218, 217, 214);
  margin-bottom: 30px;
}

