.userInfo__container {
  margin-top: 10px;
  width: 200px;
}

.userInfo__title {
  display: flex;
  color: rgb(224, 223, 221);
  width: 140px;
  position: relative;
  height: 42px;
}

.userInfo__title button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.userInfo__title button:active,
.userInfo__title button:focus,
.userInfo__title button:hover {
  outline: none !important;
  color: rgb(143, 173, 238);
  transition: 1s;
}

.userInfo__nameField {
  margin-top: 20px;
  margin-bottom: 20px;
}

.userInfo__headline {
  color: rgb(106, 110, 110);
  font-size: 10pt;
}

.userInfo__name,
.userInfo__country {
  color: rgb(218, 217, 214);
  margin-bottom: 30px;
}

.userInfo__name,
.userInfo__country {
  font-size: 10pt;
  color: rgb(218, 217, 214);
}