@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
  font-family: 'Fontspring-DEMO-ncttorin-bold';
  src: url("../../fonts/Fontspring-DEMO-ncttorin-bold.otf");
}

.modalWindow-container {
  width: 280px;
  height: 330px;
  background-color: rgb(34, 34, 36);
  color: white;
  margin-left: -20px;
  margin-top: 10px;
}

.modalWindow {
  width: 240px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.modalWindow input {
  background-color: rgb(34, 34, 36);
  border: none;
  border-bottom: solid 1px rgb(106, 110, 110);
  color: rgb(196, 196, 197);
  outline: none !important;
  margin-bottom: 15px;
}

.modalWindow 
input:active,
input:hover {
  outline: none !important;
  border-bottom: solid 1px rgb(196, 196, 197);
}

.modalWindow span {
  color: rgb(106, 110, 110);
  font-size: 9pt;
}

.button-update button {
  width: 240px;
  height: 50px;
  background-color: rgb(32, 104, 255);
  color: rgb(218, 217, 214);
  font-size: 12pt;
  position: absolute;
  bottom: 0;
}

.modalWindow__title-close {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.close {
  right: 0;
  position: absolute;}

.close button {
  background-color: rgb(34, 34, 36);
}

input {
  width: 100%;
}