@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url("../../fonts/HarmoniaSansProCyr-Bold.otf");
}

.container {
  background-color: rgb(23, 25, 26);
  grid-column: 1 / 19;
  grid-row: 2 / 19;
}

.container__settings {
  width: 710px;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 20pt;
  color: rgb(255, 255, 255);
}

.title h3 {
  font-size: 26pt;
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: HarmoniaSansProCyr-Bold;
}

.userBlocks {
  display: flex;
  width: 800px;
  justify-content: space-between;
}



