@font-face {
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
}

.API {
  width: 150px;
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-regular;
  font-size: 8pt;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
