@font-face {
  font-family: 'ofont.ru_Formular';
  src: url("../../fonts/ofont.ru_Formular.ttf");
}

.API {
  color: rgb(224, 223, 221);
  font-family: 'ofont.ru_Formular';
  font-size: 8pt;
  display: flex;
  font-weight: bold;
  position: relative;
  height: 30px;
  margin-right: 60px;
}

.first {
  margin-right: 50px;
}

.documentation {
  margin-right: 100px;
}

.API__buttons a {
  position: absolute;
  bottom: 0;
}

.API a {
  color: rgb(224, 223, 221);
  text-decoration: none;
}

.API a:hover {
  color: rgb(32, 104, 255);
  transition: 1s;
}