.security__container {
  margin-top: 10px;
  width: 200px;
}

.security__container h3 {
  margin-bottom: 15px;
}

.security__factors {
  color: rgb(106, 110, 110);
  font-size: 10pt;
}

.security__buttons {
  display: flex;
  color: rgb(218, 217, 214);
}

.security__buttons span {
  font-size: 9pt;
  color: rgb(231, 230, 227);
}

.security__buttons button:active,
.security__buttons button:focus,
.security__buttons button:hover {
  outline: none !important;
  color: rgb(143, 173, 238);
  transition: 1s;
}

@media (max-width: 900px) {
  .security__container {
    width: 585px;
    margin: 0 auto;
    margin-top: 40px;
  }
}