@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
}

.grey {
  color: rgb(106, 110, 110);
}

button {
  border: none;
  background-color: rgb(23, 25, 26);
  color: rgb(32, 104, 255);
  font-family: Fontspring-DEMO-publicasans-regular;
}

.security {
  margin-left: 100px;
}

.security-buttons {
  display: flex;
}

.security-buttons {
  color: rgb(218, 217, 214);
}

.security div {
  margin-bottom: 15px;
}
