body {
  background-color: rgb(14, 14, 14);
}

.containerApp {
  width: 1100px;
  margin: auto;
}

.containerApp__account {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 34.7px);
  background-color: rgb(0, 0, 0);
}

.containerApp-header {
  width: 1000px;
  height: 30px;
  margin: 0 auto;
  grid-column: 1 / 18;
}