@font-face {
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
}

body {
  background-color: rgb(14, 14, 14);
  font-family: Fontspring-DEMO-publicasans-regular;
}

.containerApp {
  width: 1100px;
  margin: auto;
}

.containerApp__account {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(17, 36.7px);
  background-color: rgb(0, 0, 0);
}

.chart-2 {
  background-color: rgb(23, 25, 26);
  grid-column: 1 / 5;
  grid-row: 2 / 18;
}

