@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
}

.chart-2 {
  background-color: rgb(23, 25, 26);
  grid-column: 1 / 19;
  grid-row: 2 / 19;
}

.account-settings {
  width: 710px;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 20pt;
  font-family: Fontspring-DEMO-aktifoa-bold;
  color: rgb(255,255,255);
}

.user-blocks {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

h3 {
  color: rgb(224, 223, 221);
  margin: 0;
}
