@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
  font-family: 'RBCGrotesk-Regular';
  src: url("../../fonts/RBCGrotesk-Regular.otf");
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url("../../fonts/HarmoniaSansProCyr-Bold.otf");
}

.chart-2 {
  background-color: rgb(23, 25, 26);
  grid-column: 1 / 19;
  grid-row: 2 / 19;
}

.account-settings {
  width: 710px;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 20pt;
  color: rgb(255, 255, 255);
}

.user-blocks {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

h3 {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: HarmoniaSansProCyr-Bold;
}

.title h3 {
  font-size: 26pt;
}