@font-face {
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
}

.container-header {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 1;
  width: 1050px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.header__logo {
  margin-right: 60px;
}

.header__logo span {
  color: rgb(32, 104, 255);
  font-size: 22pt;
  font-family: Fontspring-DEMO-publicasans-regular;
}

.header__balance {
  width: 400px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .container-header {
    width: 0px;
  }

  .header {
    width: 0px;
  }

  .header__logo {
    margin-right: 30px;
  }
}







