@font-face {
  font-family: 'Fontspring-DEMO-publicasans-light';
  src: url("../../fonts/Fontspring-DEMO-publicasans-light.otf");
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
}

.balance-block {
  width: 400px;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  margin-top: 5px;
}

.header {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 1;
  width: 1050px;
  margin: 0 auto;
}

.chart-1 {
  display: flex;
  width: 1050px;
  margin: 0 auto;
  justify-content: space-between;
}

.chart-1__logo {
  margin-right: 50px;
}

.chart-1__logo span {
  color: rgb(32, 104, 255);
  font-size: 22pt;
  font-family: Fontspring-DEMO-publicasans-regular;
}
