@font-face {
  font-family: 'Fontspring-DEMO-publicasans-light';
  src: url("../../fonts/Fontspring-DEMO-publicasans-light.otf");
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
}

.header {
  margin: 0 auto;
  position: relative;
}

.chart-1 {
  grid-column: 1 / 5;
  grid-row: 1;
  display: flex;
}

.chart-1__logo span {
  color: rgb(32, 104, 255);
  font-size: 25pt;
  font-family: Fontspring-DEMO-publicasans-regular;
}

.API {
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  left: 200px;
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-regular;
}

.balance {
  width: 200px;
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-light;
}

.deposit {
  display: flex;
  font-family: Fontspring-DEMO-publicasans-regular;
}

.margin {
  width: 200px;
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-light;
}

.PnL {
  width: 150px;
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-light;
}

.mail {
  width: 200px;
  color: rgb(224, 223, 221);
}

.mail-email {
  font-family: Fontspring-DEMO-publicasans-light;
}

.mail__buttons button {
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(224, 223, 221);
  font-family: Fontspring-DEMO-publicasans-regular;
}
