.logIn__container {
  width: 200px;
  margin-top: 10px;
  position: fixed;
  margin-left: 300px;
}

.logIn__container h3 {
  margin-bottom: 15px;
}

.logIn__name {
  position: relative;
  width: 120px;
}

.logIn__value span {
  font-size: 12pt;
  color: rgb(231, 230, 227);
}

.logIn__change {
  position: absolute;
  right: 0;
}

.logIn__change button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.logIn__change button:active,
.logIn__change button:focus,
.logIn__change button:hover {
  outline: none !important;
  color: rgb(143, 173, 238);
  transition: 1s;
}

.name span {
  color: rgb(106, 110, 110);
  font-size: 10pt;
}

@media (max-width: 900px) {
  .logIn__container {
    margin-top: 40px;
    width: 285px;
    margin: 0 auto;
    margin-left: 0px;
    position: absolute;
  }
}