@font-face {
  font-family: 'Fontspring-DEMO-aktifoa-bold';
  src: url("../../fonts/Fontspring-DEMO-aktifoa-bold.otf");
}

.grey {
  color: rgb(106, 110, 110);
  font-size: 10pt;
}

button {
  border: none;
  background-color: rgb(23, 25, 26);
  color: rgb(32, 104, 255);
  font-family: Fontspring-DEMO-publicasans-regular;
  font-size: 8pt;
}

.value {
  display: flex;
}

.value input {
  background-color: rgb(23, 25, 26);
  border: none;
  color: rgb(218, 217, 214);
  outline: none;
  width: 60px;
}

.value input:active {
  background-color: rgb(23, 25, 26);
  outline: none;
}

.log-in h3 {
  margin-bottom: 15px;
}

dialog {
  background: rgba(255, 255, 255, 0.7);
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}