@font-face {
  font-family: 'Fontspring-DEMO-publicasans-light';
  src: url("../../fonts/Fontspring-DEMO-publicasans-light.otf");
  font-family: 'Fontspring-DEMO-publicasans-regular';
  src: url("../../fonts/Fontspring-DEMO-publicasans-regular.otf");
  font-family: 'ofont.ru_Formular';
  src: url("../../fonts/ofont.ru_Formular.ttf");
}

.balance {
  color: rgb(224, 223, 221);
  font-family: 'ofont.ru_Formular';
  font-size: 8pt;
  margin-bottom: 1px;
}

.deposit {
  width: 100px;
  display: flex;
  font-family: 'ofont.ru_Formular';
  justify-content: space-between;
  font-size: 8pt;
  font-weight: bold;
}

.balance-btc span {
  color: rgb(241, 241, 241);
}
