@font-face {
  font-family: 'ofont.ru_Formular';
  src: url("../../fonts/ofont.ru_Formular.ttf");
}

.balance__container {
  font-family: 'ofont.ru_Formular';
  font-size: 8pt;
  margin-bottom: 1px;
}

.balance__btc {
  color: rgb(231, 230, 227);
}

.balance__deposit {
  width: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 8pt;
  font-weight: bold;
}

.balance__deposit a {
  color: rgb(241, 241, 241);
  text-decoration: none;
}

.balance__deposit a:hover {
  color: rgb(32, 104, 255);
  transition: 1s;
}

@media (max-width: 900px) {
  .balance__container {
    display: none;
  }
}
